<div class="border row"
    style="margin-top: 15rem;padding-top:7rem;background-color: #f2f2f2;margin-left: 0;margin-right: 0;">
    <div id="facebookLink" class=" col-lg-4 col-md-6 color02"
        style="background-color: #F2F2F2;font-size: 0.8rem;display: flex;justify-content: center;margin-left: 2rem;margin: auto;margin-bottom: 1rem;padding-left: 1.5em;">
        <div class="">
            <div class=""
                style="width: 34px;height:34px;background-image: url(assets/images/icon/facebook.png);vertical-align: middle;background-repeat: no-repeat;">
            </div>

        </div>
        <div class=" commumityLink">
            <span class=""
                style="height: 1.7rem;vertical-align: middle;padding-left: 0.3rem;display: inline-block;vertical-align: middle;padding-top: 0.25rem;">Facebook
                粉絲團
            </span><br>
            <a href="#" class="color02 "
                style="line-height: 1.7rem;padding-left: 0.4rem;display: inline-block;vertical-align: middle;text-decoration: underline;font-size: 0.8rem;">PM
                Baby 新生兒寫真 </a>
            <a href="#" class="color02 "
                style="line-height: 1.7rem;padding-left: 0.4rem;display: inline-block;vertical-align: middle;text-decoration: underline;font-size: 0.8rem;">PM
                Studio 婚紗攝影 </a>
        </div>
    </div>
    <div id="igLink" class=" col-lg-4 col-md-6 color02"
        style="background-color: #F2F2F2;font-size: 0.8rem;display: flex;justify-content: center;margin-left: 2rem;margin: auto;margin-bottom: 1rem;padding-left: 1.5rem;">
        <div class="">
            <div class=""
                style="width: 34px;height:34px;background-image: url(assets/images/icon/instagram.png);vertical-align: middle;background-repeat: no-repeat;">
            </div>
        </div>
        <div class=" commumityLink">
            <span class=""
                style="height: 1.7rem;vertical-align: middle;padding-left: 0.3rem;display: inline-block;vertical-align: middle;padding-top: 0.25rem;">instagram
            </span><br>
            <a href="#" class="color02 "
                style="line-height: 1.7rem;padding-left: 0.4rem;display: inline-block;vertical-align: middle;text-decoration: underline;font-size: 0.8rem;">PM
                Baby 新生兒寫真 </a>
            <a href="#" class="color02 "
                style="line-height: 1.7rem;padding-left: 0.4rem;display: inline-block;vertical-align: middle;text-decoration: underline;font-size: 0.8rem;">PM
                Studio 婚紗攝影 </a>
        </div>
    </div>
    <div id="copyRight" class=" col-lg-12"
        style="background-color: #F2F2F2;text-align: center;position: relative;padding-top: 4rem;;">
        <span class="color02"
            style="font-size: 0.6rem;position: absolute;bottom: 32%;left: 50%;transform: translate(-50%);white-space:nowrap;">Copyright
            © PM
            Studio All Rights
            Reserved.</span>
    </div>
</div>