// increase break point
@media (min-width: 1400px) { 
    .container{
        max-width: 1350px;
    }
 }
@media (min-width: 1700px) { 
      .container{
          max-width: 1650px;
      }
}
@media (min-width: 1900px) { 
      .container{
          max-width: 1750px;
      }
      #homeServiceContent02{
        #homeServiceImage{
            width: 83%;
        }
      }
};

@media (min-width: 768px) { 
    .container{
        padding:  3rem 0;
    }
    .card{
        margin-bottom: 1.1rem;
        .card-body{
            padding:1rem 0.7rem;
        }
    }
}
@media (max-width: 767px) { 
    .container{
        padding: 3rem 0.6rem;
    }
    .card{
        margin-bottom: 1.1rem;
        .card-body{
            padding:0.5rem 0.5rem;
            font-size: 0.7rem;
        }
    }
}
@media (max-width: 575px) { 
    .container{
        padding: 3rem 0.8rem;
    }
    .card{
        margin-right: -0.3rem;
        margin-left: -0.3rem;
        margin-bottom: 0.3rem;
        .card-body{
            padding:0.2rem 0.2rem;
            font-size: 0.5rem;
        }
    }
}

.card:nth-child(1) .imgContainer{
    padding-bottom: 53%;
}
.card:nth-child(3) .imgContainer{
    padding-bottom: 53%;
}
.card:nth-child(5) .imgContainer{
    padding-bottom: 53%;
}
.card:nth-child(6) .imgContainer{
    padding-bottom: 53%;
}
.card:nth-child(7) .imgContainer{
    padding-bottom: 53%;
}
.card:nth-child(8) .imgContainer{
    padding-bottom: 53%;
}




.card:nth-child(2) .imgContainer{
    padding-bottom: 113%;
}
.card:nth-child(4) .imgContainer{
    padding-bottom: 113%;
}
.card:nth-child(9) .imgContainer{
    padding-bottom: 113%;
}
