<div id="homePortfolio">home portfolio
    <div class="container py-5 border">
        <div class="row border">
            <div id="homePortfolioColumn01" class="border col-6 col-md-4" style="height: 300px;">01</div>
            <div id="homePortfolioColumn01" class="border col-6 col-md-4" style="height: 600px;">02</div>
            <div id="homePortfolioColumn01" class="border col-6 col-md-4" style="height: 300px;">03</div>
            <div id="homePortfolioColumn01" class="border col-6 col-md-4" style="height: 600px;">04</div>
            <div id="homePortfolioColumn01" class="border col-6 col-md-4" style="height: 300px;">05</div>
            <div id="homePortfolioColumn01" class="border col-6 col-md-4" style="height: 300px;">06</div>
            <div id="homePortfolioColumn01" class="border col-6 col-md-4" style="height: 300px;">07</div>
            <div id="homePortfolioColumn01" class="border col-6 col-md-4" style="height: 300px;">08</div>
            <div id="homePortfolioColumn01" class="border col-6 col-md-4" style="height: 600px;">09</div>
        </div>
    </div>
</div>