<div class="banner mb-5" style="margin-top: 4rem;">
    <img class="img-fluid" src="assets/images/qanda/banner/qa-banner.jpg" alt="" style="width: 100%;">
</div>
<div class="container ">
    <div class="accordion" id="accordionExample">
        <div *ngFor="let qa of qAndA; let i = index" class=" accordion-item" id="accordionExample">
            <h4 class="accordion-header" style="text-align: left;color: #d0d0d0;" [id]="'heading' + i">
                <button class="w-100 question" type="button" data-bs-toggle="collapse"
                    [attr.data-bs-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i"
                    style="white-space: normal; word-wrap: break-word; background-color: white;border: 1px solid #d0d0d0;padding: 14px 49px 18px 50px;text-align: left;color: #767676;font-size: 1rem;font-weight: 600;">
                    {{ 'Q' + (i + 1) + ': ' + qa.q }}
                </button>
            </h4>
            <div [id]="'collapse' + i" class="accordion-collapse collapse " [attr.aria-labelledby]="'heading' + i"
                data-bs-parent="#accordionExample">
                <div class="accordion-body W-100" style="color: #b18247;font-size: 0.9rem;padding: 14px 49px 18px 50px;">
                    {{qa.a}}
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>