<div id="homeService" class="bgcolor">
    <div class="container">
        <div class="row border" style="height: 600px;">
            <div id="homeServiceContent01" class="col-sm-6 border h-50">
                <h5 class="color02 pt-5 border">Services</h5>
                <h2 class="color01 border" style="letter-spacing: 0.2rem;">服務項目</h2>
                <div style="border: 0.1rem solid #b18247;background-color: #b18247;width: 5rem;text-align: left;">
                </div>
                <p class="color02 border mt-2" style="font-size: 0.8rem;font-weight: 600;">
                    婚紗攝影、孕婦寫真、新生兒攝影，一直到全家福，請點選服務項目，尋找最適合您的攝影方案，人生的各個重要時刻，我們都已經準備好，為您仔細紀錄每一瞬間。</p>
            </div>
            <div id="homeServiceContent02" class="col-sm-6 border h-100">
            </div>
            <div id="homeServiceContent03" class="col-sm-6 border h-50" style="transform: translateY(-100%);">
                <button class="btn rounded-0 px-5"
                    style="color:white;background-color: #b18247;font-size: 0.8rem;">方案內容</button>
            </div>
        </div>
    </div>
</div>