// container:
@media (min-width: 1400px) { 
    .container{
        max-width: 1350px;
    }
 }
  @media (min-width: 1700px) { 
      .container{
          max-width: 1650px;
      }
   }
  @media (min-width: 1900px) { 
      .container{
          max-width: 1750px;
      }
      #homeServiceContent02{
        #homeServiceImage{
            width: 83%;
        }
    }
   }
//    global
.homeEndorsementCard{
    width: 85%;
}

@media(min-width: 1200px){
    .homeEndorsementCard{
        width: 81%;
    }
}
@media(min-width: 992px) and (max-width:1199px){
    .homeEndorsementCard{
        width: 73%;
    }
}
@media (min-width: 768px){
    // .homeEndorsementCard{
    //     width: 80%;
    // }
    #homeEndorsement{
        padding-bottom:4rem ;
    }
.container{
    #homeEndorsementContent{
        padding-bottom: 2.5rem;
        #homeEndorsementTitle{
            padding-top: 3rem;
            text-align: center;
            font-size: 1rem;
            letter-spacing: 0.18rem;
        }
        #homeEndorsementSubTitle{
            text-align: center;
            font-size: 2.2rem;
            letter-spacing: 0.2rem;
        }
        #homeEndorsementTitleHr{
            border: 0.1rem solid #b18247;
            background-color: #b18247;
            width: 5rem;
            margin-top: 1rem;
            margin: auto;
        }
    }
}
}
@media (max-width: 767px){
    #homeEndorsement{
        padding-bottom:2rem ;
    }
    .homeEndorsementCard{
        border-radius: 0.85rem !important;
    }
.container{
    #homeEndorsementContent{
        padding-bottom: 1rem;
        #homeEndorsementTitle{
            text-align: center;
            margin-top: 0.5rem;
            margin-bottom: 0.3rem;
            padding-top: 1rem;
            text-align: center;
            font-size: 0.7rem;
            letter-spacing: 0.1rem;
        }
        #homeEndorsementSubTitle{
            margin-bottom: 0.4rem;
            text-align: center;
            letter-spacing: 0.2rem;
            font-size: 1.3rem;
        }
        #homeEndorsementTitleHr{
            border: 0.07rem solid #b18247;
            background-color: #b18247;
            width: 3.5rem;
            margin-top: 1rem;
            margin: 0 auto;
            margin-top: 0.6rem;
        }
    }
}
}
@media (max-width: 575px){
    #cardTitle{
        line-height: 3.3rem !important;
    }
    #headShot{
        width: 2.4rem !important;
        height:2.4rem !important;
    }
    #name{
        font-size: 0.7rem !important;
    }
.container{
    #homeEndorsementContent{
        #homeEndorsementTitle{
            margin-top: 0.5rem;

        }
        // #homeEndorsementSubTitle{

        // }
        // #homeEndorsementTitleHr{

        // }
    }
} 
.homeEndorsementCard{
    width: 365px;
}
}
@media (max-width: 407px){
    #cardContainer{
        padding-left: 0.7rem;
        padding-right: 0.7rem;
    }
    .homeEndorsementCard{
        width: 100%;
    }
}