// container:
@media (min-width: 1400px) { 
    .container{
        max-width: 1350px;
    }
 }
  @media (min-width: 1700px) { 
      .container{
          max-width: 1650px;
      }
   }
  @media (min-width: 1900px) { 
      .container{
          max-width: 1750px;
      }
      #homeServiceContent02{
        #homeServiceImage{
            width: 83%;
        }
    }
   }
.homeEndorsementCard{
    width: 85%;
}
@media(min-width: 1200px){
    .homeEndorsementCard{
        width: 85%;
    }
}
@media(min-width: 992px) and (max-width:1199px){
    .homeEndorsementCard{
        width: 95%;
    }
}
@media (min-width: 768px){
.container{
    #homeEndorsementContent{
        #homeEndorsementTitle{
            padding-top: 3rem;
            text-align: center;
            font-size: 1rem;
            letter-spacing: 0.18rem;
        }
        #homeEndorsementSubTitle{
            text-align: center;
            font-size: 2.2rem;
            letter-spacing: 0.2rem;
        }
        #homeEndorsementTitleHr{
            border: 0.1rem solid #b18247;
            background-color: #b18247;
            width: 5rem;
            margin-top: 1rem;
            margin: auto;
        }
    }
}
}
@media (max-width: 767px){
.container{
    #homeEndorsementContent{
        #homeEndorsementTitle{
            text-align: center;
            margin-bottom: 0.3rem;
            padding-top: 0.8rem;
            text-align: center;
            font-size: 0.7rem;
            letter-spacing: 0.1rem;
        }
        #homeEndorsementSubTitle{
            margin-bottom: 0.4rem;
            text-align: center;
            letter-spacing: 0.2rem;
            font-size: 1.3rem;
        }
        #homeEndorsementTitleHr{
            border: 0.07rem solid #b18247;
            background-color: #b18247;
            width: 3.5rem;
            margin-top: 1rem;
            margin: 0 auto;
            margin-top: 0.6rem;
        }
    }
}
.homeEndorsementCard{
    width: 70%;
}
}
@media (max-width: 575px){
// .container{
//     #homeEndorsementContent{
//         #homeEndorsementTitle{

//         }
//         #homeEndorsementSubTitle{

//         }
//         #homeEndorsementTitleHr{

//         }
//     }
// } 
.homeEndorsementCard{
    width: 365px;
}
}
@media (max-width: 407px){
    .homeEndorsementCard{
        width: 100%;
    }
}