<div class="banner mb-5" style="margin-top: 4rem;">
    <img class="img-fluid" src="assets/images/service/banner/services-banner@2x.png" alt="">
</div>
<div class="border container">

    <ul class="nav border" style="margin-bottom:2rem;">
        <li class="nav-item">
            <a class="nav-link active" href="#">新生兒寫真</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#ok">兒童寫真</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">全家福</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">孕婦寫真</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">專業形象照</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">個人藝術照</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">婚紗攝影</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">週歲派對攝影紀錄</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">婚禮紀錄</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">注意事項</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">合作禮服廠商</a>
        </li>
    </ul>
    <hr style="margin-bottom: 4rem;">
    <div class="row" id="ok">
        <div class="border col-lg-6">
            <h5 class="border" style="color: #b18247;">新 生 兒 寫 真</h5>
            <p class="border" style="color:#989898 ;font-size: 0.8rem;">NT$9,800</p>
            <ul>
                <li style="list-style-type: circle;font-size: 0.8rem;color: #767676;">精修 10 張電子檔</li>
                <li style="list-style-type: circle;font-size: 0.8rem;color: #767676;">贈 USB 一個</li>
                <li style="list-style-type: circle;font-size: 0.8rem;color: #767676;">拍攝造型套數 2~5 套 (視寶寶狀態而定)</li>
                <li style="list-style-type: circle;font-size: 0.8rem;color: #767676;">全程由專業保母證照的寶寶安撫師協助拍攝</li>
                <li style="list-style-type: circle;font-size: 0.8rem;color: #767676;">父母可以免費入鏡 (不含妝髮)</li>
                <li style="list-style-type: circle;font-size: 0.8rem;color: #767676;">拍攝地點於 PM 室內攝影棚</li>
            </ul>
            <p class="border" style="color: #989898;font-size: 0.7rem;width: 70%;margin-bottom: 1.5rem;">
                如需到府服務(含月子中心)須外團隊外出費用 $2,000
                台北市以外地區及無電梯大樓車馬費另外報價</p>
            <p class="border" style="color: #767676;font-size: 0.8rem;">加購項目</p>
            <ul>
                <li style="font-size: 0.8rem;color: #767676;">大寶合照 $500/位</li>
                <li style="font-size: 0.8rem;color: #767676;">雙胞胎加價 $1,000</li>
                <li style="font-size: 0.8rem;color: #767676;">三胞胎加價 $2,000</li>
                <li style="font-size: 0.8rem;color: #767676;">精修電子檔 $800/張</li>
                <li style="font-size: 0.8rem;color: #767676;">6x6 吋精緻相本(含盒子) $2,000</li>
                <li style="font-size: 0.8rem;color: #767676;">假日拍攝需加價開棚費 $1,000元</li>
            </ul>
        </div>
        <div class="col-lg-6" style="text-align: center;">
            <img src="assets/images/service/servicePhoto/new born/invalid-name@2x.png" alt="" class=" img-fluid"
                style="width: 70%;">
        </div>
    </div>
</div>