<div id="brandStoryContainer" class=" " style="margin: 0 auto 5rem;">
    <div class=" banner" style="margin-top: 4rem;">
        <img class="img-fluid" src="assets/images/aboutUsBanner/about-banner.png" alt="" style="width: 100%;">
    </div>
    <div class=" col-md-6 brandStoryLogo" style="margin: 6rem auto 1rem; ">
        <img class="img-fluid " style="display: block;" src="assets/images/aboutUsBanner/img-pm-studio-about@2x.png"
            alt="">


        <p class=" brandStory"
            style="font-size: 1.6rem;color: #bf925c;font-weight: 550;text-align: center;margin-top: -1.8rem;">
            品 牌 故 事
        </p>
    </div>
    <div class=" col-md-6 brandStoryContent" style="margin: auto;">
        <p style="text-align: center;color: #4f4f4f;font-size: 0.9rem;margin-bottom: 0.2rem;">
            {{brandStory[0]}}</p>
        <p style="text-align: center;color: #4f4f4f;font-size: 0.9rem;margin-bottom: 2.3rem;">
            {{brandStory[1]}}</p>
        <p style="text-align: center;color: #4f4f4f;font-size: 0.9rem;margin-bottom: 0.2rem;">
            {{brandStory[2]}}</p>
        <p style="text-align: center;color: #4f4f4f;font-size: 0.9rem;margin-bottom: 2.3rem;">
            {{brandStory[3]}}</p>
        <p style="text-align: center;color: #4f4f4f;font-size: 0.9rem;margin-bottom: 0.2rem;">
            {{brandStory[4]}}</p>
        <p style="text-align: center;color: #4f4f4f;font-size: 0.9rem;margin-bottom: 2.3rem;">
            {{brandStory[5]}}
        </p>
        <p style="text-align: center;color: #4f4f4f;font-size: 0.9rem;margin-bottom: 0.2rem;">
            {{brandStory[6]}}
        </p>
        <p style="text-align: center;color: #4f4f4f;font-size: 0.9rem;margin-bottom: 2.3rem;">
            {{brandStory[7]}}
        </p>
    </div>
</div>
<div id="aboutUsTitleHr" style="border: 0.1rem solid #e3c7a4;
background-color: #b18247;
width: 5.5rem;
margin-top: 1rem;
margin: auto;
margin-bottom: 5rem;"></div>

<div class=" col-md-10" style="margin: auto;">
    <h3 id="teamMemberTitle" class="" style="color: #bf925c;font-size: 1.6rem;margin-bottom: 2rem;">團 隊 經 歷 & 理 念</h3>
    <!-- <h3 id="teamMemberTitle" class="" style="color: #bf925c;font-size: 1.6rem;margin-bottom: 2rem;">團 隊 成 員</h3> -->
    <!-- <div class=" row" style="margin-bottom: 4rem;">
        <div class=" col-lg-5" style="text-align: center;">
            <img src="assets/images/aboutUsMember/memberPic.jpg" alt="" class=" img-fluid">
        </div>
        <div class=" col-lg-7 px-4">
            <h4 style="color: #b18247; font-size: 1.2rem;padding-top: 1rem;">堡鹿</h4>
            <p style="color: #4f4f4f;font-size: 0.8rem;margin-bottom: 1rem;">首 席 攝 影 師</p>
            <p style="color: #989898;font-size: 1rem;margin-bottom: 0.8rem;">理念</p>
            <p style="color: #767676;font-size: 0.8rem;margin-bottom: 2rem;">
                永遠以客戶需求為出發、可以幫您將影像魅力發揮到極致的攝影師；擁有超過10年的攝影美術經驗，提供廣告、商品、雜誌及活動拍攝；作品涵蓋各大領域，至今仍致力於創造優美且感動人心的影像作品。</p>
            <p style="color: #989898;font-size: 1rem;margin-bottom: 0.8rem;">經歷</p>
            <p style="color: #767676;font-size: 0.8rem;margin-bottom: 2rem;line-height: 1.3rem;">
                -中華航空BIE遊泰國際國平面廣告攝影<br>
                -中華航空飛機精品型錄攝影<br>
                -台灣虎航新加坡航線宣傳照攝影<br>
                -台灣虎航飛機精品型錄攝影<br>
                -台灣虎航飛機菜單型錄攝影<br>
                -天下雜誌廣編特輯人物專訪攝影<br>
                -商業週刊廣編特輯人物專訪攝影</p>
        </div>
    </div>
    <div class=" row" style="margin-bottom: 5rem;">
        <div class=" col-lg-5" style="text-align: center;">
            <img src="assets/images/aboutUsMember/memberPic.jpg" alt="" class=" img-fluid">
        </div>
        <div class=" col-lg-7 px-4">
            <h4 style="color: #b18247; font-size: 1.2rem;padding-top: 1rem;">妹倫 A-mei</h4>
            <p style="color: #4f4f4f;font-size: 0.8rem;margin-bottom: 1rem;">資 深 造 型 師</p>
            <p style="color: #989898;font-size: 1rem;margin-bottom: 0.8rem;">理念</p>
            <p style="color: #767676;font-size: 0.8rem;margin-bottom: 2rem;">
                永遠以客戶需求為出發、可以幫您將影像魅力發揮到極致的攝影師；擁有超過10年的攝影美術經驗，提供廣告、商品、雜誌及活動拍攝；作品涵蓋各大領域，至今仍致力於創造優美且感動人心的影像作品。</p>
            <p style="color: #989898;font-size: 1rem;margin-bottom: 0.8rem;">經歷</p>
            <p style="color: #767676;font-size: 0.8rem;margin-bottom: 2rem;line-height: 1.3rem;">
                -中華航空BIE遊泰國際國平面廣告攝影<br>
                -中華航空飛機精品型錄攝影<br>
                -台灣虎航新加坡航線宣傳照攝影<br>
                -台灣虎航飛機精品型錄攝影<br>
                -台灣虎航飛機菜單型錄攝影<br>
                -天下雜誌廣編特輯人物專訪攝影<br>
                -商業週刊廣編特輯人物專訪攝影</p>
        </div>
    </div> -->
    <p style="color: #767676;font-size: 1rem;margin-bottom: 2rem;width: 90%;margin: 0 auto;">
        {{exp[0]}}<br><br>
        {{exp[1]}}<br><br>


        <span style="color:#bf925c">攝影&造型團隊</span><br>
        {{exp[2]}}<br><br>

        <span style="color:#bf925c">目標與困難及啟示</span><br>
        {{exp[3]}}
    </p>
</div>
<app-footer></app-footer>