<div class="banner mb-5" style="margin-top: 4rem;">
    <img class="img-fluid" src="assets/images/portfolio/banner/portfolio-banner@2x.png" alt="">
</div>
<div class=" container ">
    <div class="row ">
        <div class=" col-lg-4">
            <div
                style="padding-top: 60%; background-image:url('assets/images/portfolio/newBorn.jpg') ;background-size: cover;background-position: center;background-repeat: no-repeat;">
            </div>
            <p class="imageDes" style="color: #767676;font-weight: bold;">新生兒寫真</p>
        </div>
        <div class=" col-lg-4">
            <div
                style="padding-top: 60%; background-image:url('assets/images/portfolio/family.jpg') ;background-size: cover;background-position: center;background-repeat: no-repeat;">
            </div>
            <p class="imageDes" style="color: #767676;font-weight: bold;">全家福</p>
        </div>
        <div class=" col-lg-4">
            <div
                style="padding-top: 60%; background-image:url('assets/images/portfolio/pregnant.jpg') ;background-size: cover;background-position: center;background-repeat: no-repeat;">
            </div>
            <p class="imageDes" style="color: #767676;font-weight: bold;">孕媽咪寫真</p>
        </div>
        <div class=" col-lg-4">
            <div
                style="padding-top: 60%; background-image:url('assets/images/portfolio/wedding.jpg') ;background-size: cover;background-position: center;background-repeat: no-repeat;">
            </div>
            <p class="imageDes" style="color: #767676;font-weight: bold;">婚紗</p>
        </div>
        <div class=" col-lg-4">
            <div
                style="padding-top: 60%; background-image:url('assets/images/portfolio/wedding2.jpg') ;background-size: cover;background-position: center;background-repeat: no-repeat;">
            </div>
            <p class="imageDes" style="color: #767676;font-weight: bold;">仙人掌婚禮</p>
        </div>
        <div class=" col-lg-4">
            <div
                style="padding-top: 60%; background-image:url('assets/images/portfolio/weddingRecord.jpg') ;background-size: cover;background-position: center;background-repeat: no-repeat;">
            </div>
            <p style="color: #767676;font-weight: bold;">婚禮紀錄</p>
        </div>
        <div class=" col-lg-4">
            <div
                style="padding-top: 60%; background-image:url('assets/images/portfolio/art.jpg') ;background-size: cover;background-position: center;background-repeat: no-repeat;">
            </div>
            <p style="color: #767676;font-weight: bold;">藝術照</p>
        </div>
        <div class=" col-lg-4">
            <div
                style="padding-top: 60%; background-image:url('assets/images/portfolio/PMalbum.png') ;background-size: cover;background-position: center;background-repeat: no-repeat;">
            </div>
            <p style="color: #767676;font-weight: bold;">PM相本</p>
        </div>
    </div>
</div>
<app-footer></app-footer>