@media (min-width: 1400px) { 
    .container{
        max-width: 1350px;
    }
 }
  @media (min-width: 1700px) { 
      .container{
          max-width: 1650px;
      }
   }
  @media (min-width: 1900px) { 
      .container{
          max-width: 1750px;
      }
      #homeServiceContent02{
        #homeServiceImage{
            width: 83%;
        }
    }
   }

@media (max-width: 992px) {
    .banner{
        margin-top: 3rem !important;
        // margin-bottom: 1rem !important;
    }
}
@media (max-width: 768px) {
    .banner{
        margin-bottom: 2rem !important;
    }
}
@media (max-width: 576px) {
    .banner{
        margin-top: 2.5rem !important;
    }
    .imageDes{
        font-size: 0.9rem !important;
    }
}
.estitle{
    color:#b18247 !important
}
.albumCover{
    margin-bottom: 1rem;
}
.nav-link{
    color: #767676;
    font-size: 0.8rem;
}
.nav-item{
    background-color: #ededed;
    margin: 0.3rem;
    margin-bottom: 1rem;
    .active{background-color: #e3c7a4;

    }
}
@media (max-width: 768px) {
    .nav {
        margin-bottom: 1rem !important;
    }
    .nav li{
        margin-left:0 !important;
        margin-right: 0.3rem !important;
        margin-bottom:0rem !important;
        padding:0rem !important;
    }
    .nav a{
        padding:0.3rem !important;

    }
}