/* You can add global styles to this file, and also import other style files */
  
  * {
    font-family: PingFangTC-Medium, sans-serif;
  }
.frame{
    width: 100%;
    height: 300px;
    border: 1px solid blue;
}
.bgcolor{
    background-color:#f9f5f0 ;
}
.color01{
    color: #b18247;
}
.color02{
    color:#767676;
}